body {
    text-align: centre;
}

img {
    width: 700px;
    height: 900px;
    text-align: centre;
}

#avengers {
    height: 900px;
    width: 700px;
    text-align: centre;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1{
    text-shadow: 2px 2px blue;
    font-size:50px;
}
h2{
    text-shadow: 1px 1px yellow;
    font-size:40px;
}